.header {
  background: url("../../assets/pictures/background_1.png");
  background-size: 100% 100%;
  height: 630px;
  opacity: 1;
}

.logo {
  margin: 15px;
}

.header-title {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir-Black";
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  text-align: center;
  line-height: 1.4;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
a{
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir-Black";
  font-size: 22px;
  font-weight: 900;
  position: absolute;
  text-align: center;
  line-height: 2.4;
}

.header-text {
  opacity: 0.8;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir-Black";
  font-size: 22px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
}

.search-zone {
  border-radius: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir-Black";
  font-size: 21px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* Form wrapper styling */
.form-wrapper {
  width: 450px;
  padding: 3px;
  margin: 20px auto 50px auto;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}

/* Form text input */

.form-wrapper input {
  width: 330px;
  height: 20px;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.4);
  float: left;
  font: 20px 'Avenir-Black';
  color: azure;
  border: 0;
  color: #211F2A;
  border: unset;
}

.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}

.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
}

.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
}

/* Form submit button */
.form-wrapper button {
  overflow: visible;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'Avenir-Heavy';
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  opacity: 1;
  background: linear-gradient(116.56505117707799deg, rgba(255, 97, 97, 1) 0%, rgba(255, 97, 163, 1) 100%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}


.form-wrapper button:active,
.form-wrapper button:hover:before {
  border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before {
  border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

mat-card {
  background: rgb(72, 68, 68);
}

.grid-title {
  padding: 55px;
  color: rgba(123, 251, 255, 1);
  font-family: "Avenir-Black";
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
}

mat-card-content {
  width: 200px;
  height: 60px;
}
